body{
    background-color: #1B1C1E;
}
#cutout{
    height: 90%;
    width: 115%;
    margin-top: 10%;
}
.container {
    display: grid;
    grid-template-columns: 15% 25% 40% 20%; 
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}
.item{
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
    margin-top: 13%;
    width: 60%;
    height: 80%;
    color: white;
    text-align: center;
}
#inst{
    height: 20%;
}
.inp{
    width: 280px;
    height: 40px;
    background-color: #eeeeee;
    border-radius: 8px;
}
#btton{
    background-color: #227ed0;
    color: white;
    width: 75px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
}
h5:hover{
    text-decoration: underline;
    color: #227ed0;
}
h3:hover{
    text-decoration: underline;
    color: #227ed0;
}
span{
    color: #227ed0;
}
.panel{
    text-align: center;
    background-color: #1B1C1E;
}
.links{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.links:hover{
    text-decoration: underline;
}
.copyright{
    color: white;
    opacity: 0.7;
    text-align: center;
}